.datForm{
    margin: auto;
}

.forms{
    margin-top: 170px;
    margin-bottom: 300px;
    padding: 80px;
    display: grid;
    grid-template-areas: "header header header header";
    grid-template-rows: auto;
    grid-row-gap: 60px;
    grid-column-gap: 5px;
    grid-column: 30vw;
}

:host {
    ::ng-deep .p-card .p-card-body {
        background-color: orange;
        width: 170px;
        height: 90px;
        border-radius: 25px;
        text-align: center;
        padding-top: 70px;
        color: white;
        font-weight: bold;
        margin-left: 80px;
    }
}

a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    margin-top: -300px;
    color: rgb(16, 72, 104);
    margin-left: 35%;
    text-shadow: 1px 1px black;
}

button {
    color:black;
    background-color: orange;
    margin-left: 45%;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
