.datForm{
    margin: auto;
}

.forms{
    margin-top: 170px;
    margin-bottom: 300px;
    padding: 80px;
    display: grid;
    grid-template-areas: "header header header header";
    grid-template-rows: auto;
    grid-row-gap: 60px;
    grid-column-gap: 5px;
    grid-column: 30vw;
}

:host {
    ::ng-deep .p-card .p-card-body {
        background-color: orange;
        width: 170px;
        height: 150px;
        border-radius: 25px;
        text-align: center;
        padding-top: 100px;
        color: white;
        font-weight: bold;
        margin-left: 80px;
    }
}
