body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* style the container */
  .container {
    width: 50%;
    margin-right: -25%;
    margin-left: 25%;
    background-color: rgba(240, 203, 199, 0.904);
    padding: 20px 0 30px 0;
    box-shadow: 0 0 30px rgba(26, 25, 25, 0.1);
  } 
  
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input[type=text], input[type=password]{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.596);
    width: 80%;
    margin-left: 10%;
  }

  
  /* style the submit button */
  button[type=submit] {
    background-color: #1F030C;
    cursor: pointer;
    width: 80%;
    color: white;
    margin-left: 10%;
    height: 50px;
  }
  
  input[type=submit]:hover {
    background-color: #492832;
  }
  
  /* Two-column layout */
  .form {
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
   
  /* bottom container */
  .bottom-container {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    background-color: #1F030C;
    border-radius: 0px 0px 4px 4px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 30px rgba(26, 25, 25, 0.1);
  }
  
  .btn{
    font-size: 23px;
    font-weight: bold;
  }
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }