body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    width: 50%;
    margin-right: -25%;
    margin-left: 25%;
    background-color: rgba(194, 221, 229, 0.904);
    padding: 20px 0 30px 0;
    box-shadow: 0 0 30px rgba(26, 25, 25, 0.1);
  }

  .topContainer {    
    margin-top: 200px;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    width: 50%;
    height: 130px;
    margin-left: 25%;
    background-color:#ca7a11;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0 30px rgba(26, 25, 25, 0.1);
  }

  .bottomContainer {
    padding-top: 1px;
    width: 50%;
    height: 110px;
    margin-left: 25%;
    text-align: center;
    background-color: #ca7a11;
    color: white;
    font-size: 20px;
    border-radius: 0px 0px 4px 4px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 0 30px rgba(26, 25, 25, 0.1);
    margin-bottom: 400px;
  }

  h1, p{
    text-align: center;
  }
  
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }

  /* Full-width input fields */
  input[type=text], input[type=password] {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.596);
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
  }

  input[type=submit] {
    background-color: #075e86;
    cursor: pointer;
    width: 80%;
    color: white;
    margin-top: 20px;
    margin-left: 10%;
    height: 50px;
  }
  
  input[type=submit]:hover {
    background-color: #316a85;
  }

  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  label{
    font-size: 20px;;
    margin-left: 15%;
    font-weight: bold;
  }
    
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  