<div class=header>
    <!-- <div *ngIf="!isSessionSet"> -->
        <a routerLink="/auth/register" class="nav-link">Register</a>
        <a routerLink="/auth/login" class="nav-link">Login</a>
    <!-- </div> -->
    <!-- <div *ngIf="isSessionSet"> -->
        <a routerLink="/dashboard/home" class="nav-link">Home</a>

        <a routerLink="/dashboard/create-form" class="nav-link">Create Form</a>
        <a routerLink="/auth/login" (click)="logout()" class="nav-link">Logout</a>
    <!-- </div> -->
    <!-- <a routerLink="support" class="nav-link">Support</a> -->

</div>