.header {
  background-color: #075e86;
  padding: 50px;
  margin: 0px;
  height: 45px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav-link {
  padding-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin: auto;
  margin-left: 20px;  
}
