<div class=header>
    <ng-container>
        <img src="../../../assets/icon.png" class="nav-link" style="width:70px; height:60px;">
    </ng-container>
    <!-- <div *ngIf="!isSessionSet"> -->
    <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/auth/register" class="nav-link">Register</a>
        <a routerLink="/auth/login" class="nav-link">Login</a>
    </ng-container>
    <!-- </div> -->
    <!-- <div *ngIf="isSessionSet"> -->
    <ng-container *ngIf="isLoggedIn">
        <a routerLink="/dashboard/home" class="nav-link">Home</a>

        <a routerLink="/dashboard/create-form" class="nav-link">Create Form</a>
        <a routerLink="/auth/login" (click)="logout()" class="nav-link">Logout</a>
    </ng-container>
    <!-- </div> -->
    <!-- <a routerLink="support" class="nav-link">Support</a> -->

</div>